.connexion-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100%;
}
.connexion-h1 {
  margin-top: 2em;
  text-align: center;
}
.connexion-board h1 {
  margin-bottom: 2rem;
}

.connexion-board form {
  background: var(--card);
  padding: 2.5rem;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  color: var(--link);
  width: 100%;
  max-width: 450px;
}

.connexion-board form div {
  margin-bottom: 1.5rem;
}

.connexion-board label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: var(--link);
}

.connexion-board input {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  color: #333;
  box-sizing: border-box;
}

.connexion-board input:focus {
  outline: 2px solid var(--linkv);
}

.connexion-board form a {
  color: var(--link);
  text-decoration: underline;
}

.connexion-board form a:hover {
  color: #eee;
}

.connexion-board button {
  width: 100%;
  margin: 1rem 0 0 0;
}

.connexion-board p {
  margin-top: 1.5rem;
  font-weight: 500;
  color: var(--bg-font);
  text-align: center;
}

.hero-placeholder {
  background: #f4f4f4;
  padding: 3rem 1rem;
  text-align: center;
}
.hero-placeholder h1 {
  font-size: 2.5rem;
  color: #333;
}

.footer-placeholder {
  background: #333;
  color: white;
  padding: 2rem 1rem;
  text-align: center;
  margin-top: auto;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.google-login-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  height: 40px;
}
.google-login-container svg {
  margin-top: 0.7em;
}

@media (max-width: 768px) {
  .connexion-board form {
    max-width: 320px;
    padding: 1.2rem;
    border-radius: 0.75rem;
  }

  .connexion-h1 {
    font-size: 1.8rem;
    margin-top: 8rem;
  }

  .connexion-board label {
    font-size: 1rem;
  }

  .connexion-board input {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  .connexion-board button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 1rem;
  }

  .connexion-board form a {
    font-size: 1rem;
  }

  .connexion-board p {
    font-size: 1rem;
  }
}
