.cta-section {
  margin: 8rem 1rem 4rem 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cta-title {
  margin: 0;
}

.cta-comment {
  color: var(--bg-font);
  font-size: var(--font-p);
  text-align: center;
}

.cta-button {
  background: var(--card);
  font-size: var(--font-p);
  color: var(--bg-font);
  &:hover {
    background: #3b0a85;
    color: #fff;
  }
}

.cta-icon {
  width: 36px;
  height: 36px;
  display: inline-block;
  vertical-align: baseline;
  margin-left: 0.25rem;
}
