.cookie-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.popup-content {
  max-width: 500px;
  width: 90%;
  text-align: center;
  padding: 20px 30px;
  border-radius: 20px;
  border: 1px solid #928b8b;
  background: rgba(142, 140, 235, 0.882);
  box-shadow: 0 4px 15px rgba(84, 90, 93, 0.706);
}

.buttons-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
