.ExerciceVideo-section {
  background-color: var(--bg);
  padding: 2rem;
}

.ExerciceVideo-article {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 4rem;
  padding: 1rem 6rem;
}

.ExerciceVideo-encart {
  background: var(--card);
  padding: 1rem;
}

.ExerciceVideo-h3 {
  padding: 0 2rem;
  color: hsl(0, 0%, 100%);
}

.ExerciceVideo-p {
  width: 550px;
  padding: 0 2rem;
}

.ExerciceVideo-link {
  display: inline-block;
  border-radius: 25px;
  padding: 0;
  line-height: 0;
}

.ExerciceVideo-button {
  margin-left: 30px;
}

@media screen and (max-width: 992px) {
  .ExerciceVideo-article {
    flex-direction: column-reverse;
  }
}
