.ExerciceCardArticle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  width: 250px;
  border-radius: 1.5rem;
  box-shadow: 0 24px 60px rgba(0, 0, 0, 0.4);
}

.ExerciceCardImageContainer {
  position: relative;
  width: 200px;
  height: 200px;
}

.ExerciceCardImage {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.ExerciceCardEtoileVide {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  z-index: 1;
}
.ExerciceCardButtonFavoris {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  z-index: 1;
  background: none;
  padding: 0;
}

.ExerciceCardButtonFavoris:hover {
  background: none;
}
.ExerciceCardButton {
  display: none;
  background: var(--card);
  color: var(--bg-font);
}
.ExerciceCardButton:hover {
  background: var(--linkv);
  color: #fff;
}

.exerciceCardIsConnecting {
  display: inline-block;
}

.ExerciceCardH4 {
  font-size: calc(var(--font-h) * 0.5);
}
