.free-trial-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.free-trial-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 1em;
}

.free-trial-comment {
  color: var(--bg-font);
  width: 50%;
  text-align: center;
}
