.hero {
  position: relative;
  width: 100%;
  height: 60svh;
  overflow: hidden;
}

.hero-slider {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 200%;
  height: 100%;
  animation: scroll 60s linear infinite;
}

.hero-image {
  width: 20%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: transform 0.3s ease;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.hero-slider:hover {
  animation-play-state: paused;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, O 0.5);
}

.hero-content {
  background-color: none;
  position: relative;
  z-index: 10;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 0 1rem;
}
.hero-h2 {
  color: #fff;
  text-shadow: 
  0 2px 10px rgb(25, 5, 53, 0.5),
  0 4px 40px rgb(115, 53, 136, 0.3);
  margin-left: 1.5rem;
  position: left;
  text-align: left;
  max-width: 25ch;
}

.hero-btn {
  align-items: center;
  background: linear-gradient(135deg, #a8c0ff 0%, #c0a8ff 20%, #ffb3d9 100%);
  text-shadow: 0 0 6px rgba(160, 100, 255, 0.8);
   &:hover {
    background: #3b0a85;
    text-shadow: none;
  }
}

@media (max-width: 768px) {
  .hero {
    height: 40svh;
  }

  .hero-image {
    width: 50%;
  }

  .hero-content {
    text-align: center;
  }

  .hero-h2 {
    font-size: 1.1rem;
    margin: 0 auto 1rem auto;
    text-align: center;
  }

  .hero-buttons {
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
  }
}
