.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.timer-display {
  font-size: 200px;
  font-weight: bold;
  background: linear-gradient(#c084fc, #f9a8d4, #c084fc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
  .timer-display {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 70px;
  }
}
