.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.timer-display {
  font-size: 200px;
  font-weight: bold;
  background: linear-gradient(#8494fc, #d658f6, #c084fc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
  .timer-display {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 100px;
  }
}

@media screen and (max-width: 480px) {
  .timer-display {
    font-size: 80px;
  }

  .timer-buttons {
    flex-direction: column;
    gap: 15px;
  }
  .timer-buttons button {
    width: 100%;
    flex-grow: 0;
  }
}
